/*break: medium CSS
/* CSS for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
    .Home-Page {
        width: 100vw;
        height: 100vh;
        flex-grow: 0;
        background-color: var(--white-primary);
      }
    
    .header {
        width: 100vw;
        height: 100px;
        display: flex;
        flex-direction: row;
        background-color: var(--white-primary);
        padding: 0;
    }

    .Name {
        max-width: max-content;
        flex-grow: .70;
        font-family: var(--nav-font);
        font-size: 41px;
        font-weight: 300;
        line-height: var(--nav-height);
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--black-primary);
        right: auto;
        margin: auto;
    }

    .mobile-menu-button {
        display: block;
        width: fit-content;
        margin-right: auto;
        position: relative;
        background-color: var(--button-color);
        border-radius: 20px;
        padding: 10px 20px;
    }

    .mobile-container {
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-bar-links {
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: var(--white-primary);
        box-sizing: border-box;
        visibility: hidden;
        opacity: 0;
    }
    
    .nav-bar-links.show {
        visibility: visible;
        opacity: 1; 
        animation: fadeIn 0.5s ease-in-out forwards; 
    }
    .Home,
    .About,
    .Projects,
    .Contact {
        width: auto;
        flex-direction: column;
        font-size: 20px;
        padding: 2.5px;
    }

    .hero-section {
        gap: 125px;
    }

    .headshot {
        width: 210px;
        height: 215px;
    }

    .hero-text {
        gap: 20px;
    }

    .hero-body-text {
        width: 580px;
    }

    .Button-4 {
        padding: 10px 20px;
    }
}

/* CSS for small screens (mobile) */
@media (max-width: 767px) {    
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    html, body {
    margin: 0;
    background-color: var(--white-primary);
    overflow-x: hidden;
    }

/* break: Mobile CSS */
    * {
        box-sizing: border-box;
    }

    .Home-Page {
        width: 100vw;
        height: 100vh;
        flex-grow: 0;
        background-color: var(--white-primary);
    }
    .header {
        height: fit-content;
        display: flex; /* Use grid instead of flex */
        flex-direction: row;
        background-color: var(--white-primary);
        padding: 30px 10px 0;
    }

    .mobile-menu-button {
        display: block;
        width: fit-content;
        height: auto;
        font-family: var(--mobilename-font);
        font-size: var(--nav-size);
        font-weight: var(--nav-weight);
        line-height: var(--nav-height);
        text-transform: var(--nav-case);
        text-align: center;
        position: fixed;
        color: var(--black-primary);
        background-color: var(--black-secondary);
        border: none;
        border-radius: 10px;
        padding: 2px;
        right: 20px;
        opacity: 70%;
    }

    .mobile-container {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Name {
        max-width: max-content;
        flex-grow: .70;
        font-family: var(--mobilename-font);
        font-size: var(--mobilename-size);
        font-weight: var(--mobilename-weight);
        line-height: var(--nav-height);
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--black-primary);
    }

    .nav-bar-links, .nav-bar-links.show {
        display: flex;
        flex-direction: column; /* Change to column */
        position: absolute;
        top: 70px; /* Adjust this value to move the nav-bar-links closer to the mobile-menu-button */
        width: 100px;
        height: max-content;
        background-color: var(--white-primary);
        box-sizing: border-box;
        visibility: hidden;
        opacity: 0; /* Start invisible */
        gap: 10px;
        background-color: rgb(240, 242, 245, .9);
        padding: 5px 0;
        right: 20px;
        align-items: self-end;
    }
    
    .nav-bar-links.show {
        visibility: visible;
        opacity: 1; /* Show when visible*/
        animation: fadeIn 0.5s ease-in-out forwards; /* Apply fadeIn animation */
    }
    
    .nav-bar-links a {
        text-decoration: none;
        color: var(--black-primary);
        z-index: 4;
        background-color: rgb(240, 242, 245, .9);
    }
    
    .nav-bar-links.fadeOut {
        animation: fadeOut 0.5s ease-in-out forwards; /* Apply fadeOut animation */
    }
    
    .Home,
    .About,
    .Projects,
    .Contact {
      width: fit-content;
      height: auto;
      font-family: var(--nav-font);
      font-size: var(--form-size);
      font-weight: var(--nav-weight);
      line-height: var(--nav-height);
      text-transform: var(--nav-case);
      text-align: right;
      align-items: flex-end;
      color: var(--black-primary);
    }

    .hero-section {
        display: flex;
        grid-auto-flow: row;
        position: relative;
        height: fit-content;
        justify-content: flex-start;
        gap: 10px;
        padding: 15px 10px;
        margin-top: 30px;
      }

    .headshot {
        display: none; /*was flex*/
        flex-direction: row;
        width: 110px;
        height: 115px;
        background-image: url('../images/headshot.svg');
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-size: 100%; /* Makes the image 90% the entire element */      
    }

    .hero-text {
        display: grid;
        grid-auto-flow: row;
        height: fit-content;
        gap: 20px;
        padding: 0;
        justify-content: center;
        margin: auto;
    }
    .hero-title-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    .hero-title-line-1,
    .hero-title-line-2 {
        width: auto;
        height: auto;
        flex-grow: 0;
        font-family: var(--mobiletitle-font);
        font-size: var(--mobiletitle-size);
        font-weight: var(--mobiletitle-weight);
        line-height: var(--mobiletitle-height);
        letter-spacing: normal;
        text-align: left;
    }
      
    .hero-title-line-1 {
        background-image: linear-gradient(to right, #5566DE, #A38AD0, #F9BA00, #F1B006);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
      
    .hero-title-line-2 {
        color: var(--black-primary);
    }

    .hero-body-text {
        width: 80vw;
        height: auto;
        position: relative;
        margin: auto;
        font-family: var(--mobilebody-font);
        font-size: var(--mobilebody-size);
        font-weight: var(--mobilebody-weight);
        line-height: var(--mobilebody-height);
        text-align: left;
        color: var(--black-secondary);
        padding-right: 20px;
     }
    .Button-4,
    .download-resume-button {
        justify-self: right;
        margin-top: auto;
    }

    .Button-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: auto;
        padding: 7.5px 15px;
        border-radius: 100px;
        background-color: #8f91e4;
        font-family: var(--mobilebody-font);
        font-size: var(--mobilebody-size);
        color: #000;
        text-align: center;
        border-radius: 100px;
        border: 2px solid #000;
    }

    .Button-4 a,
    .download-resume {
        text-decoration: none;
        color: #000;
        text-align: center;
        border: none;
    }
    .banner {
        position: relative;
        width: auto;
        height: 105px;
        margin-top: 34px;
        overflow: hidden;
    }
      
    .banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../images/design-banner-container.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2; /* Higher z-index */
    }
      
    .banner::after {
        content: "";
        position: absolute;
        top: 50%; /* Adjust this value to shift the color down */
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--white-secondary);
        z-index: 1; /* Lower z-index */
    }

    .empowering-success-container {
        position: relative;
        display: flex;
        padding: 15px 0px 115px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 auto; /* Add this line to center the container horizontally */
        max-width: 100%; /* Add this line to ensure the container doesn't exceed the width of the page */
        background-color: var(--white-secondary);
        z-index: 1;
    }

    .parent-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
      
    .empowering-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .h2-line-1,
    .h2-line-2 {
        display: flex;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: var(--mobileh2-font);
        font-weight: 600;
        font-size: var(--mobileh2-size);
        line-height: var(--mobileh2-height);
    }
    .h2-line-1 {
        color: var(--Black-Primary);
    }
    .h2-line-2 {
        background-image: linear-gradient(to right, #5566DE, #A38AD0, #F9BA00, #F1B006);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .empowering-body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        margin: 15px 15px;
    }
      
    .empowering-1,
    .empowering-2 {
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: flex-start; /* Aligns children along the main axis */
        align-items: flex-start; /* Aligns children along the cross axis */
        gap: 5px;
    }

    .h3-1,
    .h3-2 {
        display: flex;
        width: fit-content;
        flex-shrink: 0;
        color: var(--Black-Primary);
        font-family: var(--mobileh3-font);
        font-size: var(--mobileh3-size);
        font-weight: var(--mobileh3-weight);
        line-height: var(--mobileh3-height);
    }

    .body-container-1,
    .body-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-left: 5px;
    }

    .h3-body-1,
    .h3-body-2 {
        width: fit-content;
        height: auto;
        color: var(--Black-Secondary);
        font-family: var(--mobilebody-font);
        font-size: var(--mobilebody-size);
        font-weight: var(--mobilebody-weight);
        line-height: var(--mobilebody-height);;
    }

    .ul {
        display: flex;
        width: fit-content;
        color: var(--Black-Secondary);
        font-family: var(--mobileul-font);
        font-weight: var(--mobileul-weight);
        font-size: var(--mobileul-size);
        line-height: var(--mobileul-height);
        flex-direction: column;
        justify-content: center;
    }

    .ul ul {
        padding-left: 20px;
        list-style-type: disc;
        height: auto;
    }
    .image-container {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 100%;
    }

    .button-container {
        display: flex;
        align-items: flex-start;
        gap: 25px;
        margin-top: 15px;
    }

    .Button-5,
    .Button-6 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7.5px 15px;
        font-family: var(--mobilebody-font);
        font-size: var(--mobilebody-size);
        gap: 10px;
        border-radius: 100px;
        border: 2px solid #000;
        transition: background-color 0.3s ease-in-out;
        text-decoration: none;
    }
    .Button-6 a {
        text-decoration: none;
    }

    .what-i-use-container {
        width: fit-content;
        height: auto;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
    }

    .h-2 {
        width: auto;
        flex-grow: 0;
        font-family: var(--mobileh2-font);
        font-size: var(--mobileh2-size);
        font-weight: var(--mobileh2-weight);
        font-stretch: normal;
        font-style: normal;
        line-height: var(--mobileh2-height);
        letter-spacing: normal;
        text-align: left;
        color: #000;
      }

    .row-1-container,
    .row-1-container * {
        box-sizing: border-box;
    }
    .row-1-container {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
    }

    .figma-container {
        padding: 10px;
        width: 125px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: var(--white-secondary);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .vs-code-container,
    .vs-code-container * {
        box-sizing: border-box;
    }
    .vs-code-container {
        background: var(--white-secondary, #ffffff);
        padding: 10px;
        width: 125px; /* TODO: copy and paste padding, width, and gap */
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    .vs-code-logo {
        flex-shrink: 0;
        width: 100px;
        height: 100px;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .vscode-code {
        height: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    .articulate-container {
        padding: 30px 0px 30px 0px;
        width: 227.6px;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 57px;
        background-color: #fff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .articulate,
    .articulate * {
        box-sizing: border-box;
    }

    .articulate {
        width: auto;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
        right: 0%;
        left: 0%;
        bottom: 0%;
        top: 0%;
        overflow: visible;
        align-self: center;
    }

    .creative-cloud-container,
    .creative-cloud-container * {
        box-sizing: border-box;
    }
    .creative-cloud-container {
        background: var(--white-secondary, #ffffff);
        padding: 30px 15px 30px 15px;
        display: flex;
        flex-direction: column;
        gap: 57px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .office-container,
    .office-container * {
        box-sizing: border-box;
    }
    .office-container {
        background: var(--white-secondary, #ffffff);
        padding: 30px 0px 30px 0px;
        width: 227.6px;
        display: flex;
        flex-direction: column;
        gap: 57px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    .icon {
        flex-shrink: 0;
        width: 100px;
        height: 100px;
        position: relative;
    }
    .vector {
        height: auto;
        position: absolute;
        right: 0%;
        left: 0%;
        width: 100%;
        bottom: 0%;
        top: 0%;
        height: 100%;
        overflow: visible;
    }
    .microsoft-office {
        height: auto;
        position: absolute;
        left: 10.5px;
        top: 10.5px;
        overflow: visible;
    }
    .body {
        color: #000000;
        text-align: center;
        font-family: var(--mobileh3-font);
        font-size: var(--mobileh3-size);
        line-height: var(--mobileh3-height);
        font-weight: var(--mobileh3-weight);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* break: animations */
@keyframes fadeIn {
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible;}
}
  
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
